### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#jekyll site
_site
site
assets/luantics/P001
assets/luantics/P002
assets/luantics/P003
assets/luantics/P004
assets/luantics/P005
assets/luantics/P006
assets/luantics/P007
assets/luantics/P008
assets/luantics/P009
assets/luantics/P010
assets/luantics/P011
assets/luantics/P012
assets/luantics/P013
assets/luantics/P014
assets/luantics/P015
assets/luantics/P016
assets/luantics/P017
assets/luantics/P018
assets/luantics/P019
assets/luantics/P020
assets/luantics/P021
assets/luantics/P022
assets/luantics/P023
assets/luantics/P024
assets/luantics/P025
assets/luantics/P026
assets/luantics/P027
assets/luantics/P028
assets/luantics/P029
assets/luantics/P030
assets/luantics/P031
assets/luantics/P032
assets/luantics/P033
assets/luantics/P034
assets/luantics/P035
sitemap.xml

### Sass ###
.sass-cache
