---
layout: about
title: About Me
description: Get to know Luan Tran, freelance creator.
---
<div class="bio-container">
  <h1 class="bio-headline">
    Hello! I’m Luan Tran;<br/>
    an illustrator and photographer
  </h1>
  <div class="bio-img">
    <img class="full-image" src="{{ site.baseurl }}/assets/img/about.jpg" alt="Luan Tran Profile Picture" />
    <img class="circle-image" src="{{ site.baseurl }}/assets/img/about_circle.jpg" alt="Luan Tran Profile Picture" />
  </div>
  <div class="bio-text">
    <p>I'm currently based in Adelaide. If you would like to see some of my work, feel free to check out my <a href="/illustrations">illustration</a> and <a href="/photography">photography</a> portfolios, or find me on <a href="https://www.facebook.com/luanillustrates">facebook</a> or <a href="http://www.instagram.com/luan.illust/">instagram</a>.</p>
  </div>
  <div class="bio-accolades">
    <h2>Works</h2>
    <ul>
      {% for accolade in site.data.settings.accolades %}
        <li>
          {% if accolade.url %}
            <a href="{{ accolade.url }}" class="title">{{ accolade.title }}</a>
          {% else %}
            <span class="title">{{ accolade.title }}</span>
          {% endif %}
          {% if accolade.period %}
            <span class="period">{{ accolade.period }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(() => {
    $('.bio-headline').fitText(1.35);
  });
</script>
