<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="post">
      <header class="post-header">
        <div class="header-img" style="background-image: url('{{ site.baseurl }}{{ page.header-img }}')"></div>
        <div class="heading">
          <h1 class="post-title">{{ page.title | emojify }}</h1>
          <span class="post-meta">{% if page.action %}{{ page.action | capitalize }} {% endif%}{% if page.datec %}{{ page.datec | date: "%b %-d, %Y" }}{% endif %}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</span>
        </div>
      </header>

      <div class="post-container">
        <article class="post-content">
          {{ content | emojify }}
        </article>
        <div class="sequential-posts">
          {% if page.previous.url %}

            {% if page.next.url %}
              <div class="previous">
            {% else %}
              <div class="previous-wide">
            {% endif %}

              <a href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title }}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <div>
                   <span class="blog-post-title">{{ page.previous.title }}</span>
                   <span class="link-description">Previous Post</span>
                </div>
              </a>
            </div>
          {% endif %}

          {% if page.next.url %}
            {% if page.next.url %}
              <div class="next">
            {% else %}
              <div class="next-wide">
            {% endif %}

              <a href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title }}">
                <div>
                   <span class="blog-post-title">{{ page.next.title }}</span>
                   <span class="link-description">Next Post</span>
                </div>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          {% endif %}
        </div>
      </div>

    </div>
    {% include sidebar.html %}
    <script src="{{ site.baseurl }}/assets/js/featherlight.js" type="text/javascript"></script>
    <script src="{{ site.baseurl }}/assets/js/featherlight.gallery.js" type="text/javascript"></script>
    <script type="text/javascript" data-no-emoji>
      function setLightboxSize() {
        setTimeout(function () {
          if ($('.featherlight-inner').width() > $('.featherlight-inner img').width()) {
            $('.featherlight-inner').width($('.featherlight-inner img').width());
          }
        }, 200);
      }

      $(document).ready(function () {        
        const images = document.querySelectorAll('.imageset img');
        images.forEach(image => {
          if (!image.hasAttribute('data-featherlight')) {
            image.setAttribute('data-featherlight',image.src);
          }
        });

        const videos = document.querySelectorAll('.imageset video');
        videos.forEach(video => {
          if (!video.hasAttribute('data-featherlight')) {
            video.setAttribute('data-featherlight',video.outerHTML);
          }
        });

        $('.imageset img, .imageset video').featherlightGallery({
          previousIcon: '<i class=\"fa fa-angle-left\"></i>',
          nextIcon: '<i class=\"fa fa-angle-right\"></i>',
          // closeIcon: '<i class=\"fa fa-times\"></i>',
          afterContent: setLightboxSize,
          galleryFadeIn: 100,
          galleryFadeOut: 300
        });
      });
    </script>
  </body>
</html>
